/* Common for all pages */
html{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(255, 230, 0);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-block: 1rem;
}

/* Page 1 CSS*/
.heading{
    
    text-align: center;
}

.author{
    text-align: center;
}

span{
    color: orange;
}
.pictures{
    display: block;
    margin-left: 300px;
}

.caption{
    margin-left:300px;
    width:800px;
    color:green;
}

.content{
    font-size: 20px;    
    font-style: arial;
    margin-left: 300px;
    width:800px;
}

.introduction-heading{
    text-align: center;
}

/* Page 2 CSS */
.list-headers{
    font-size: large;
}

.content-page2{
    display: grid;
    justify-content: center;
    margin-bottom: 3em;
}

footer{
    background-color: rgb(255, 230, 0);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}